@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin: 0;
}
body, html{
    color: #FFF;
    font-family: Montserrat,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #16161a;
    font-size: 1.8em;
}
useritem{
    display: block;
    width: 100%;
}
#data{
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px #16161a;
}
.data-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    height: 45px;
}